In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.vales

AttributeError: 'Series' object has no attribute 'vales'

In [4]:
obj.values

array([ 3,  6,  9, 12])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
ww2_cas = Series([87,43, 3, 21, 0.4], index=['USSR', 'Germany', 'China', 'Japan', 'USA'])
ww2_cas

USSR       87.0
Germany    43.0
China       3.0
Japan      21.0
USA         0.4
dtype: float64

In [8]:
ww2_cas['USA']

0.40000000000000002

In [10]:
ww2_cas[ww2_cas>40]

USSR       87.0
Germany    43.0
dtype: float64

In [12]:
'USSR' in ww2_cas

True

In [13]:
ww2_dict = ww2_cas.to_dict()

In [14]:
ww2_dict

{'China': 3.0,
 'Germany': 43.0,
 'Japan': 21.0,
 'USA': 0.40000000000000002,
 'USSR': 87.0}

In [15]:
ww2_series = Series(ww2_dict)

In [16]:
ww2_series

China       3.0
Germany    43.0
Japan      21.0
USA         0.4
USSR       87.0
dtype: float64

In [21]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [22]:
obj2 = Series(ww2_dict, index=countries)
obj2

China         3.0
Germany      43.0
Japan        21.0
USA           0.4
USSR         87.0
Argentina     NaN
dtype: float64

In [23]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [27]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool