In [2]:
import numpy as np
import pandas as pd
from pandas import Series as s, DataFrame as d

In [3]:
import webbrowser
website='https://en.wikipedia.org/wiki/NFL_winâ€“loss_records'
webbrowser.open(website)

True

In [4]:
nfl_frame = pd.read_clipboard()

In [5]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [6]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [7]:
nfl_frame.Team

0          Dallas Cowboys
1       Green Bay Packers
2           Chicago Bears
3          Miami Dolphins
4    New England Patriots
Name: Team, dtype: object

In [8]:
nfl_frame['First NFL Season']

0    1960
1    1921
2    1920
3    1966
4    1960
Name: First NFL Season, dtype: int64

In [9]:
d(nfl_frame, columns=['Team', 'First NFL Season', 'Total Games'])

                   Team  First NFL Season Total Games
0        Dallas Cowboys              1960         866
1     Green Bay Packers              1921       1,320
2         Chicago Bears              1920       1,354
3        Miami Dolphins              1966         784
4  New England Patriots              1960         868

In [10]:
d(nfl_frame, columns=['Team', 'First NFL Season', 'Total Games', 'Stadium'])

                   Team  First NFL Season Total Games  Stadium
0        Dallas Cowboys              1960         866      NaN
1     Green Bay Packers              1921       1,320      NaN
2         Chicago Bears              1920       1,354      NaN
3        Miami Dolphins              1966         784      NaN
4  New England Patriots              1960         868      NaN

In [11]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [12]:
nfl_frame.head(1)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East

In [13]:
nfl_frame.tail(2)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [15]:
nfl_frame.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            439
Lost                           341
Tied                             4
Pct.                         0.563
First NFL Season              1966
Total Games                    784
Division                  AFC East
Name: 3, dtype: object

In [16]:
nfl_frame.ix[3:]

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [17]:
nfl_frame.Stadium = 'Levis Stadium'

In [18]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [19]:
nfl_frame['Stadium'] = 'Levis Stadium'

In [20]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,Levis Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,Levis Stadium
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,Levis Stadium
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Levis Stadium
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Levis Stadium

In [21]:
nfl_frame['Stadium'] = np.arange(5)

In [22]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,0
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,1
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,2
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,3
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,4

In [28]:
stadiums = s(['levi', 'AT&T', 'Emirates'], index= [4,0, 1])

In [24]:
stadiums

5        levi
0        AT&T
1    Emirates
dtype: object

In [29]:
nfl_frame['Stadium'] = stadiums

In [30]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,AT&T
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,Emirates
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,levi

In [32]:
del nfl_frame['Stadium']

In [33]:
data = {'City':['SF', 'LA', 'NYC'], 'Population':[837000, 3880000, 8400000]}
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [34]:
city_frame = d(data)

In [35]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000