In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,12])

In [3]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
ww2_cas = Series([87, 43, 30, 21, 4], index=['USSR', 'GERMANY', 'CHINA', 'JAPAN', 'USA'])

In [7]:
ww2_cas

USSR       87
GERMANY    43
CHINA      30
JAPAN      21
USA         4
dtype: int64

In [8]:
ww2_cas['USSR']

87

In [9]:
ww2_cas[ww2_cas> 4]

USSR       87
GERMANY    43
CHINA      30
JAPAN      21
dtype: int64

In [10]:
'USSR' in ww2_cas

True

In [11]:
'RAER' in ww2_cas

False

In [12]:
ww2_cas_dict = ww2_cas.to_dict()

In [13]:
ww2_cas_dict

{'CHINA': 30, 'GERMANY': 43, 'JAPAN': 21, 'USA': 4, 'USSR': 87}

In [14]:
dict_2_series = Series(ww2_cas_dict)

In [15]:
dict_2_series

CHINA      30
GERMANY    43
JAPAN      21
USA         4
USSR       87
dtype: int64

In [16]:
countries = ['CHINA', 'GERMANY', 'JAPAN', 'USA', 'USSR', 'ARGENTINA']

In [17]:
obj2 = Series(ww2_cas_dict, index=countries)

In [18]:
obj2

CHINA        30.0
GERMANY      43.0
JAPAN        21.0
USA           4.0
USSR         87.0
ARGENTINA     NaN
dtype: float64

In [19]:
pd.isnull(obj2)

CHINA        False
GERMANY      False
JAPAN        False
USA          False
USSR         False
ARGENTINA     True
dtype: bool

In [20]:
pd.isnotnull(obj2)

AttributeError: module 'pandas' has no attribute 'isnotnull'

In [21]:
pd.notnull(obj2)

CHINA         True
GERMANY       True
JAPAN         True
USA           True
USSR          True
ARGENTINA    False
dtype: bool

In [22]:
ww2_series

NameError: name 'ww2_series' is not defined

In [23]:
dict_2_series

CHINA      30
GERMANY    43
JAPAN      21
USA         4
USSR       87
dtype: int64

In [24]:
dict_2_series + obj2

ARGENTINA      NaN
CHINA         60.0
GERMANY       86.0
JAPAN         42.0
USA            8.0
USSR         174.0
dtype: float64

In [25]:
obj2.name = 'World War 2 Casualties'

In [26]:
obj2.name

'World War 2 Casualties'

In [27]:
obj2

CHINA        30.0
GERMANY      43.0
JAPAN        21.0
USA           4.0
USSR         87.0
ARGENTINA     NaN
Name: World War 2 Casualties, dtype: float64