In [1]:
import numpy as np
import pandas as pd

from pandas import Series as s, DataFrame as df

In [2]:
nfl_frame = pd.read_clipboard()

In [3]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West

In [4]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [5]:
nfl_frame.Rank

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
Name: Rank, dtype: int64

In [6]:
nfl_frame['Rank']

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
Name: Rank, dtype: int64

In [7]:
df(nfl_frame, columns=['Team', 'First Season', 'Total Games'])

                    Team  First Season Total Games
0         Dallas Cowboys           NaN         866
1      Green Bay Packers           NaN       1,320
2          Chicago Bears           NaN       1,354
3         Miami Dolphins           NaN         784
4   New England Patriots           NaN         868
5        New York Giants           NaN       1,289
6         Denver Broncos           NaN         868
7      Minnesota Vikings           NaN         854
8       Baltimore Ravens           NaN         336
9    San Francisco 49ers           NaN         986
10    Indianapolis Colts           NaN         950
11       Oakland Raiders           NaN         868

In [8]:
df(nfl_frame, columns=['Team', 'First Season', 'Total Games', 'Stadium'])

                    Team  First Season Total Games  Stadium
0         Dallas Cowboys           NaN         866      NaN
1      Green Bay Packers           NaN       1,320      NaN
2          Chicago Bears           NaN       1,354      NaN
3         Miami Dolphins           NaN         784      NaN
4   New England Patriots           NaN         868      NaN
5        New York Giants           NaN       1,289      NaN
6         Denver Broncos           NaN         868      NaN
7      Minnesota Vikings           NaN         854      NaN
8       Baltimore Ravens           NaN         336      NaN
9    San Francisco 49ers           NaN         986      NaN
10    Indianapolis Colts           NaN         950      NaN
11       Oakland Raiders           NaN         868      NaN

In [9]:
df(nfl_frame, columns=['Team', 'First Season', 'Total Games', 'Stadium'])['Stadium'] = 'Liberty Stadium'

In [10]:
nfl_frame.Rank.head()

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [11]:
nfl_frame.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            439
Lost                           341
Tied                             4
Pct.                         0.563
First NFL Season              1966
Total Games                    784
Division                  AFC East
Name: 3, dtype: object

In [13]:
nfl_frame['Stadium'] = np.arange(12)

In [14]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,0
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,1
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,2
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,3
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,4
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,5
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,6
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,7
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,8
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West,9
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South,10
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West,11

In [17]:
stadiums = s(['Levi', 'AT'], index=[5, 0])

In [18]:
stadiums

5    Levi
0      AT
dtype: object

In [19]:
nfl_frame['Stadium'] = stadiums

In [20]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,AT
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,NaN
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,Levi
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,NaN
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,NaN
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,NaN
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West,NaN
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South,NaN
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West,NaN

In [21]:
del nfl_frame['Stadium']

In [22]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West

In [23]:
data = {'City': ['SF', 'LA', 'NYC'], 'Population':[87, 38, 84]}

In [24]:
data.City

AttributeError: 'dict' object has no attribute 'City'

In [29]:
data['City']

['SF', 'LA', 'NYC']

In [26]:
data['SF']

KeyError: 'SF'

In [27]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [87, 38, 84]}

In [30]:
cf = df(data)

In [31]:
cf

  City  Population
0   SF          87
1   LA          38
2  NYC          84