In [1]:
import numpy as np
from pandas import Series as s, DataFrame as df
import pandas as pd

#from numpy.random import randn

In [4]:
ser1 = s(np.arange(3), index=['A', 'B', 'C'])

In [6]:
ser1

A    0
B    1
C    2
dtype: int64

In [7]:
ser1.drop('B')

A    0
C    2
dtype: int64

In [9]:
df1 = df(np.arange(9).reshape((3,3)), index=['SF', 'LA', 'NY'], 
        columns=['pop', 'size', 'year'])
df1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [10]:
df1.drop('LA')

    pop  size  year
SF    0     1     2
NY    6     7     8

In [11]:
df2 = df1.drop('LA')
df2

    pop  size  year
SF    0     1     2
NY    6     7     8

In [12]:
df1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [13]:
df1.drop('size', axis=1)

    pop  year
SF    0     2
LA    3     5
NY    6     8