In [3]:
import numpy as np
import pandas as pd
from pandas import Series as s, DataFrame as df

In [4]:
df1 = df({'key':['X', 'Z', 'Y', 'Z', 'X', 'X'], 'data_set_1':np.arange(6)})

In [5]:
df1

   data_set_1 key
0           0   X
1           1   Z
2           2   Y
3           3   Z
4           4   X
5           5   X

In [6]:
df2 = df({'key':['Q', 'Y', 'Z'], 'data_set_2':[1,2,3]})
df2

   data_set_2 key
0           1   Q
1           2   Y
2           3   Z

In [8]:
pd.merge(df1,df2)

   data_set_1 key  data_set_2
0           1   Z           3
1           3   Z           3
2           2   Y           2

In [9]:
pd.merge(df1, df2, on='key')

   data_set_1 key  data_set_2
0           1   Z           3
1           3   Z           3
2           2   Y           2

In [10]:
pd.merge(df1, df2, on='key', how='left')

   data_set_1 key  data_set_2
0           0   X         NaN
1           1   Z         3.0
2           2   Y         2.0
3           3   Z         3.0
4           4   X         NaN
5           5   X         NaN

In [11]:
pd.merge(df1, df2, on='key', how='right')

   data_set_1 key  data_set_2
0         1.0   Z           3
1         3.0   Z           3
2         2.0   Y           2
3         NaN   Q           1

In [12]:
pd.merge(df1, df2, on='key', how='outer')

   data_set_1 key  data_set_2
0         0.0   X         NaN
1         4.0   X         NaN
2         5.0   X         NaN
3         1.0   Z         3.0
4         3.0   Z         3.0
5         2.0   Y         2.0
6         NaN   Q         1.0

In [13]:
df3 = df({'key':['X', 'X', 'X', 'Y', 'Z', 'Z'], 'ds3' : range(6)})

In [14]:
df4 = df({'key':['Y', 'Y', 'X', 'X', 'Z'], 'ds4': range(5)})

In [15]:
df3
df4

   ds4 key
0    0   Y
1    1   Y
2    2   X
3    3   X
4    4   Z

In [16]:
df3

   ds3 key
0    0   X
1    1   X
2    2   X
3    3   Y
4    4   Z
5    5   Z