In [1]:
import numpy as np
import pandas as pd
from pandas import Series as s, DataFrame as df

In [2]:
data = s(['one', 'two', np.nan, 'four'])
data

0     one
1     two
2     NaN
3    four
dtype: object

In [3]:
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [4]:
data.dropna()

0     one
1     two
3    four
dtype: object

In [5]:
df1 = df([[1,2,3], [np.nan, 5,6], [7, np.nan, 9], [np.nan, np.nan, np.nan]])

In [6]:
df1

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [7]:
clean_df1 = df1.dropna()

In [8]:
clean_df1

     0    1    2
0  1.0  2.0  3.0

In [9]:
clean_df2 = df1.dropna(how='all')
clean_df2

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0

In [10]:
clean_df3 = df1.dropna(axis=1)

In [11]:
clean_df3

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [12]:
nan = np.nan
df2 = df([[1,2,3, nan], [2, nan, 5, 6], [nan, 7, nan, 9], [1, nan, nan, nan]])
df2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [13]:
df2.dropna(thresh=2)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0

In [14]:
df2.dropna(thresh=3)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0

In [15]:
df2.fillna(1)

     0    1    2    3
0  1.0  2.0  3.0  1.0
1  2.0  1.0  5.0  6.0
2  1.0  7.0  1.0  9.0
3  1.0  1.0  1.0  1.0

In [16]:
df2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN