In [1]:
import numpy as np
from pandas import Series as s, DataFrame as df
import pandas as pd

from numpy.random import randn

In [2]:
ser = s(randn(6), index=[[1,1,1,2,2,2], ['a','b','c','a','b','c']])

In [3]:
ser

1  a   -1.548480
   b    1.253051
   c    0.452067
2  a    0.436813
   b    0.424724
   c    0.174150
dtype: float64

In [4]:
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
ser[1]

a   -1.548480
b    1.253051
c    0.452067
dtype: float64

In [6]:
ser[2]

a    0.436813
b    0.424724
c    0.174150
dtype: float64

In [7]:
ser[1]['a']

-1.548479784113564

In [9]:
ser[:,'a']

1   -1.548480
2    0.436813
dtype: float64

In [10]:
df1 = ser.unstack()

In [11]:
df1

          a         b         c
1 -1.548480  1.253051  0.452067
2  0.436813  0.424724  0.174150

In [14]:
df2 = df(np.arange(16).reshape(4,4), index=[['a', 'a', 'b', 'b'], [1,2,1,2]],
        columns=[['NY', 'NY', 'LA', 'SF'], ['cold', 'hot', 'hot', 'cold']])

In [15]:
df2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [16]:
df2.sortlevel(1)

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
b 1    8   9  10   11
a 2    4   5   6    7
b 2   12  13  14   15

In [17]:
df2.sortlevel(0)

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [22]:
df2.sum(level=1, axis=1)

     cold  hot
a 1     3    3
  2    11   11
b 1    19   19
  2    27   27