In [1]:
import numpy as np
from pandas import Series as s, DataFrame as df
import pandas as pd

from numpy.random import randn

In [4]:
ser1 = s([1,2,3,4], index=['A', 'B', 'C', 'D'])

ser1

In [6]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'])

In [8]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    NaN
dtype: float64

In [9]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    NaN
H    0.0
dtype: float64

In [10]:
ser3 = s(['USA', 'Mexico', 'Canada'], index=[0,5,10])

In [11]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [12]:
ranger = range(15)
ranger

range(0, 15)

In [13]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
ser3.reindex(ranger, method='bfill')

0        USA
1     Mexico
2     Mexico
3     Mexico
4     Mexico
5     Mexico
6     Canada
7     Canada
8     Canada
9     Canada
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [17]:
dframe = df(randn(25).reshape((5,5)), index=['A', 'B', 'D', 'E', 'F'], 
            columns=['col1', 'col2', 'col3', 'col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A -0.384393 -0.473377  0.563704  1.610978  0.195923
B -0.709766  0.137059 -0.926204  0.613334 -0.437920
D -1.154271 -0.735938 -0.943773  0.414974 -0.569937
E -0.483940 -0.386847 -1.355527 -0.532022  0.449515
F  0.906665 -0.182669  0.316005  0.798915 -1.395270

In [18]:
dframe2 = dframe.reindex(['A', 'B', 'C','D', 'E', 'F'])

In [19]:
dframe2

       col1      col2      col3      col4      col5
A -0.384393 -0.473377  0.563704  1.610978  0.195923
B -0.709766  0.137059 -0.926204  0.613334 -0.437920
C       NaN       NaN       NaN       NaN       NaN
D -1.154271 -0.735938 -0.943773  0.414974 -0.569937
E -0.483940 -0.386847 -1.355527 -0.532022  0.449515
F  0.906665 -0.182669  0.316005  0.798915 -1.395270

In [20]:
nc = ['kol1', 'kol2','kol3','kol4','kol5','kol6']
dframe2.reindex(columns=nc)

   kol1  kol2  kol3  kol4  kol5  kol6
A   NaN   NaN   NaN   NaN   NaN   NaN
B   NaN   NaN   NaN   NaN   NaN   NaN
C   NaN   NaN   NaN   NaN   NaN   NaN
D   NaN   NaN   NaN   NaN   NaN   NaN
E   NaN   NaN   NaN   NaN   NaN   NaN
F   NaN   NaN   NaN   NaN   NaN   NaN

In [21]:
dframe2

       col1      col2      col3      col4      col5
A -0.384393 -0.473377  0.563704  1.610978  0.195923
B -0.709766  0.137059 -0.926204  0.613334 -0.437920
C       NaN       NaN       NaN       NaN       NaN
D -1.154271 -0.735938 -0.943773  0.414974 -0.569937
E -0.483940 -0.386847 -1.355527 -0.532022  0.449515
F  0.906665 -0.182669  0.316005  0.798915 -1.395270

In [22]:
ncc = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2.reindex(columns=ncc)

       col1      col2      col3      col4      col5  col6
A -0.384393 -0.473377  0.563704  1.610978  0.195923   NaN
B -0.709766  0.137059 -0.926204  0.613334 -0.437920   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.154271 -0.735938 -0.943773  0.414974 -0.569937   NaN
E -0.483940 -0.386847 -1.355527 -0.532022  0.449515   NaN
F  0.906665 -0.182669  0.316005  0.798915 -1.395270   NaN

In [24]:
dframe.ix[['A', 'B', 'C', 'D', 'E', 'F'], ncc]

       col1      col2      col3      col4      col5  col6
A -0.384393 -0.473377  0.563704  1.610978  0.195923   NaN
B -0.709766  0.137059 -0.926204  0.613334 -0.437920   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.154271 -0.735938 -0.943773  0.414974 -0.569937   NaN
E -0.483940 -0.386847 -1.355527 -0.532022  0.449515   NaN
F  0.906665 -0.182669  0.316005  0.798915 -1.395270   NaN

In [25]:
dframe.ix[['X', 'Y', 'Z', 'G', 'H', 'j'], ncc]

   col1  col2  col3  col4  col5  col6
X   NaN   NaN   NaN   NaN   NaN   NaN
Y   NaN   NaN   NaN   NaN   NaN   NaN
Z   NaN   NaN   NaN   NaN   NaN   NaN
G   NaN   NaN   NaN   NaN   NaN   NaN
H   NaN   NaN   NaN   NaN   NaN   NaN
j   NaN   NaN   NaN   NaN   NaN   NaN