In [1]:
import numpy as np
from pandas import Series as s, DataFrame as df
import pandas as pd

In [2]:
json_obj = """
{
    "animal":"lion",
    "food":["meat", "veggies"],
    "fur":"Golden"
}
"""

In [3]:
import json

In [5]:
data = json.loads(json_obj)

In [6]:
data

{'animal': 'lion', 'food': ['meat', 'veggies'], 'fur': 'Golden'}

In [7]:
json.dumps(data)

'{"animal": "lion", "fur": "Golden", "food": ["meat", "veggies"]}'

In [8]:
df1 = df(data)

In [9]:
df1

  animal     food     fur
0   lion     meat  Golden
1   lion  veggies  Golden